/* TODO
- fix gird to have equal amount of projects on each row 
- 
*/

/* Large devices (laptops/desktops, 992px and up) */

/* ---------- general ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    /* padding-top: 3rem; */
}

img {
    width: 100%;
}

/* ---------- navbar ---------- */
#navbar-mainContainer {
    border: solid 1px red;
    background-color: lightblue;

    position: fixed;
    top: 0;
    z-index: 999;

    width: 100%;
    padding: 0.75rem;
    
    display: flex;
    justify-content: end;
}

/* ---------- welcome ----------*/
#welcome-section {
    border: solid 1px red;
    background-color: lightsalmon;

    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    
}

.welcome_container {
    border: solid 1px blue;

    display: flex;
    align-items: center;
    flex-direction: column;
}

        .welcome_headings {
            border: solid 1px blue;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            width: 50%;
            padding: 1rem;
        }

        .welcome_image {
            border: solid 1px blue;

            padding: 1rem;
            width: 20%;
        }

        .welcome_text {
            border: solid 1px blue;

            width: 50%;
            padding: 1rem;

        }

    /* ---------- projects ---------- */
    #projects-mainContainer {
        border: solid 1px red;
        background-color: lightblue;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;

        
    }
        .projects-text {
            border: solid 1px blue;
          
        }
        
        .project-grid {
            border: solid 1px blue;
           

            display: grid;
            grid-template-columns: repeat(3, minmax(320px, 1fr));
           
        
            padding: 1rem;

            width: 75%;
        }
            
        .project-grid-item {
            border: solid 1px black;

            padding: 2rem;
            }

            .project-sh {
                aspect-ratio: 2 / 1;
            }

            .project-title {
                text-align: center;
                padding: 0.5rem;
            }

    /* ---------- social ---------- */
    #social_container {
        border: solid 1px red;
        background-color: lightsalmon;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding:1rem;
    }

        .social-text {
            border: solid 1px blue;

            text-align: center;
            padding: 1rem;
        }

        .social-links_container {
            border: solid 1px blue;

            display: flex;
            padding: 1rem;
            justify-content: space-between;

            width: 50%;

        }

            .social-link_flexbox {
                border: solid 1px blue;
                
                display: flex;
            }

                .social-icon {
                    border: solid 1px green;

                    width: 2rem;
                }

                .social-link {
                    border: solid 1px green;

                    line-height: 2rem;
                    margin-left: 0.5rem;
                }
    
    /* ---------- footer ---------- */
    .footer {
    border: solid 1px red;
    background-color: lightblue;

    display: flex;
    justify-content:space-evenly;
}





